[class^='grid-col-']{
	float:left;
	padding:0;
	text-align: center;
}


div.aboutleft{
	vertical-align: top;
	width: 60%;
	margin:0;
	display: inline-block;
}

div.aboutright{
	display: inline-block;
	width:35%;
	margin:0 2%;

}
div.grid-col-1of4{
	width: 20%;
}

div.grid-col-3of4{
	width:75%;
}
div.grid-col-1of2{

	width:48%;
	

}
div.grid-col-1of2-o{
	width: 48%;
	margin-right: 2%;
	
}
div.grid-col-1of3{

	width: 33%;

}

div.grid-col-1of3-3{
	width:32%;
	margin: 0 0.6%:;
}
div.grid-col-2of3{
	width:65%;
}
div.grid-col-1of3-2{

	width: 30%;
	margin: 0.5%;
}
.grid-col-1of2-1{
	width:50%;
	margin:0 ;
}

@media screen and (max-width: 980px) {


	.title{
		width:100%;
	}
	div.grid-col-3of4{
		width:100%;
	}

	.ads{
		display: none;
	}
}

@media screen and (max-width: 760px) {

	div.readmore2{
		width:45%;
		margin:0 2%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	div.grid-col-1of2{
		width:100%;

	}
		div.grid-col-1of2-o{
		width:100%;

	}
	figure.otherdesign{
		margin: 0;
		width: 100%;
	}

	div.readMore{
		width: 94%;
		margin:2rem 3%;

	}
	div.showcase{
		width:94%;
		margin: 0 3%;
	}
	div.grid-col-1of3-2{

		width: 100%;

	}
	figure.more{
		width: 100%;
		margin:0;
	}
	img.moreImage{
		width:100%;
		margin:0;
	}
	div.moreArticle{
		width:100%;
		margin:0;

	}
    div.grid-col-1of3 {
        width:100%;
        margin:0;
    }
    div.grid-col-2of3 {
        width:100%;
        margin:0;
    }

	img.prize1Image{
	  width:100%;
	  margin:0;
	}
	div.grid-col-3of4{
		width:94%;
		margin: 0 3%;
	}
	p.articlez{
	  width:100%;
	  margin:1rem 0;
	}
	h3.articlez{
	  width:100%;
	  margin:2rem 0;
	}
	p.articlez2{
	  width:100%;
	  margin:1rem 0;
	}
	h3.articlez2{
	  width:100%;
	  margin:2rem 0;
	}

	p.article2{
	  width:100%;
	  margin: 1rem 0;
	}
	div.articleList2{
		width: 100%;
		margin:0 ;
	}
	div.articleList2_g{
		width: 100%;
		margin:0 ;

	}
	figure.prize1{
		width: 100%;
		margin:0;
	}
	a.articleList2{
		width: 100%;
		margin:1rem 0;
	}

	.ads{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	div.cardDate{
		width: 100%;
		display: inline-block;
	}
	#city{
		width: 100%;
		display: inline-block;
	}
	div.aboutleft{
		width:100%;

	}
	div.aboutright{
		display: none;
	}

	div.grid-col-1of2-1{
		width:100%;

		text-align: center;
	}
	input[type="text"]{
		width: 90%;

	}
	div.grid-col-1of2{
		width:100%;

		text-align: center;
	}
	input.cvvtext{
		width: 100%;
	}
	div.grid-col-1of3-3{
		width: 100%;
		text-align: left;

	}
	#province{
		width: 85%;
	}
	#subscriptionButton{

		padding: 0;
	}

}



@media screen and (max-width: 480px) {
	div.readmore2{
		width: 100%;
	}



}

@media screen and (max-width:1111px)  {
	div.sub {
		width: 100%;
	}
	#subscriptionButton {
		float: none;
		margin: 2rem auto;
	}
}

@media screen and (max-width:855px)  {
.grid-col-1of2-1 {
	width: 100%;
}


#subscriptionButton {
	width: 50%
}


}

@media screen and (max-width:455px) {



input[type="text"]{
	width: 80%;

}

}
