
/*font style*/

head, body {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 0 180px;
  padding-bottom: 25px;
}

html {
  position: relative;
  min-height: 100%;
}

/*//resource from styleguide sample*/

section:not([id]) {
  /* margin: 1rem 0;
  padding: 0.5rem 0; */
  /* border-top: 0.15rem solid #333; */
}

/*button style*/

.button-nav {

  background-color: white;
  color: black;
  border: 0.1rem solid #555555;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  text-decoration: none;
  border: 0.1rem solid #F3A086;
}

.intext-link {
  color: #E0E0E0;
  text-decoration: none;
  background-color: white;
}

.intext-link:hover, .intext-link:focus {
  text-decoration: underline;
  color: #90CAF9;
}

/*//resource from W3school example*/

.submitButton, .subscribeButton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
  margin: 0 auto;
}

.submitButton:hover, .submitButton:focus {
  border: 0.1rem solid #F3A086;
}

.subscribeButton:hover, .subscribeButton:focus {
  border: 2px solid #F3A086;
}

/*//resource from W3school example*/

input[type=text] {
  margin: 1rem;
  margin-left: 0rem;
  display: block;
  border: 0.1rem solid #616161;
  width: 30%;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 0.1rem solid #b3e5fc;
}

h1.headingStyle {
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}

h1.pageheader {
  margin: 1em auto;
  position: relative;
  display: block;
  text-align: center;
}

p.links {
  color: red;
}

a.links {
  color: red;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}

a.links:hover {
  text-decoration: underline;
}

h2.headingStyle {
  font-size: 1.5rem;
  font-weight: lighter;
}

ul.nav1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: 0.1rem solid #616161;
}

li.nav1 {
  float: right;
}

/*//resources from W3school navigation button*/

li.nav1, a.nav1 {
  display: block;
  text-align: center;
  padding-top: 1rem;
  width: 100px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
}

li.nav2 {
  float: left;
}

li.nav2, a.nav2 {
  width: 40%;
  display: inline;
  padding: 0 0;
  text-decoration: none;
}

img.nav1 {
  width: 100px;
  display: inline;
  margin-top: 10px;
}

a.nav1 {
  color: #616161;
  text-decoration: none;
  background-color: white;
  margin-bottom: 5px;
}

a.nav1:hover, a.nav1:focus {
  text-decoration: none;
  color: #90CAF9;
}

h3.headingStyle {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}

.paragraphStyle {
  font-size: 1rem;
  font-weight: normal;
}

.bullList {
  list-style-type: circle;
  padding-left: 3rem;
}

.numList {
  padding-left: 3rem;
}

/* Carousel container */

section.mainCarousel {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

/* either fix img size, or change images */

.carouselImgSize {
  width: 100%;
  height: 700px;
}

/* Image hidden by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Caption text */

.text {
  color: #333;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  /* z-index: -10; */
}

/* Number text (1/3 etc) */

.numbertext {
  color: #90CAF9;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 12px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  /* z-index: 5; */
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* styling the article containers */

.articles {
  display: flex;
}

.article_container {
  max-width: 1000px;
  margin: 0 auto;
}

.articleListing {
  width: 700px;
  float: left;

}



.otherListings {
  width: 300px;
  float: left;
}

.article {
  display: inline-block;
  width: 18em;
  /* height: 20rem; */
  padding: 0.5em;
  border: 0.1em solid #000;
  position: relative;
  margin: 5px;
  vertical-align: top;
  background: #fff;
}

.articleListing .article {
  border: 0.1em solid #90CAF9;
}

.articleListing img {
  min-height: auto;
  max-width: auto;
  width: 15em;
  height: 15em;
  position: relative;
}

.a3 img {
}

.subscriptionBox .img {
  min-height: auto;
  max-width: auto;
  width: 15em;
  height: 900px;
  position: relative;
}

.eventBox {
  width: 250px;
  height: 100px;
}

.article.subscriptionBox, .article.eventBox {
  float: right;
  min-height: 23rem;
  width: 15em;
}

/* #footer {
  width: 100%;
  background-color: #E0E0E0;
}

li.footer {
  text-decoration: none;
} */

footer {
/*  position: absolute;*/
  width: 100%;
  background-color: #616161;
  /* padding: 60px, 0px; */
  margin-top: 30px;
  /* negative value of footer height */
  height: 180px;
  /* clear: both; */

    left: 0;
    bottom: 0;
    overflow:hidden;

}

input[type=text]{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

input.cvvtext{
  margin: 0;
  width:80%;
}

select{
  width:100%;
  padding:0,5rem;
}

#subscription{
  width:100%;
  display: block;
}

#subscriptionheader{
  margin-left: 5%;
  margin-bottom: 2%;

  margin-top: 3%;
}

#subscriptionButton{
  margin-left: 40%;
    margin-right: : 40%;
    margin-top: 33rem;

  text-align: center;
  display: block;

  width: 20%;
  height: 3rem;
}
ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.wrapper a:hover, .wrapper a:focus {
  text-decoration: none;
  color: #90CAF9;
}

.wrapper {
  padding-top: 40px;
}
.wrapper a {
  color: #808080;
  text-decoration: none;
  text-align: left;
  margin: 10px 0;

  /* background-color: white; */
}

.footer li {
  margin: 5px 0;
}

.footer a {
  position: relative;
  margin-bottom: 5px;
}

.footerMid {
  text-align: center;
}

.footerRight {
  text-align: center;
}

.leftSide {
  display: inline-block;
  width: 33%;
}

.middleSide {
  display: inline-block;
  width: 33%;
}

.rightSide {
  display: inline-block;
  width: 33%;
}

footer input[type=text] {
  display: inline;
  margin-bottom: 20px;

}



.fa {
    padding: 0 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

footer p {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 0.75em;
}


/* .subscribeInfo {
  text-align: left;
} */


figure {
  text-align: left;
}

.purchase {
  display: block;
}

.greySpan {
  background-color: #DCDCDC;
  height: 350px;
  padding: 20px;
}

.greySpan img {
  float: left;
}

.greySpan p {
  max-width: 1000px;
}

.subPage {
  color: #90CAF9;
}


.flex-grid{
  display: flex;
  text-align: center;
}
.col {
  flex: 1;
  margin: 10px;
  height: 200px;
}

.col p {

  line-height: 1.5rem;
}

.col-second {
  background-color: red;
}

.selector {
  /* background-color: green; */
}
