/*
@font-face {
  font-family: futura;
  src: url("fonts/futura/Futura Book font.ttf");
}
@font-face {
  font-family: futura;
  font-weight: bold;
  src: url("fonts/futura/Futura Book font.ttf");
}

p {
  font-family: futura, sans-serif;
} */


div.contactinformation{
  margin:3rem 0;
  width: 100%;
  display: inline-block;
}
div.navlogo{
  width: 20%;
  display: inline-block;
}


.grid-row-nav {
  width: 50%;
  opacity: 0.85;
  display: inline-block;
}

.articleList {
  margin-top: 2rem;
}

a.articleList2 {
  text-decoration: none;
  color: black;
}

a.articleList2:hover {
  text-decoration: underline;
}

.articleList2 {
  display: inline-block;
  margin: 0.5rem 0;
}

.articleList2_gray {
  display: inline-block;
  margin: 0.5rem 0;
  background-color: #F2F3F4;
}

#shareSpace {
  width: 20%;
  /* height: 3rem;
  text-align: center;
  display: block;
  margin-left: 40%; */
  margin-top: 3rem;
}

div.aboutpage {

  margin: 0 3%;
}

h2 {
  text-align: left;
}

h3 {
  /* text-align: left; */

  font-weight: bold;
}

p {
  text-align: left;
}

.title {
  margin-top: 3rem;
}

.title1 {
  text-align: center;
}

#aboutusInformation {
  margin-top: 0;

}

#aboutus {
  margin: 3rem 0;
}

h4.contactUs{
  text-align: left; 
   margin: 1rem 1.5rem;
}

@media screen and (max-width: 780px){
  h4.contactUs{
    margin: 2rem 1.5rem;
  }
}

figure.ads {
  margin: 0 3rem;
  margin-bottom: 3rem;
}

img.adsImage {
  width: 100%;
}

figure.ads2 {
  margin: 0 3rem;
  margin-bottom: 3rem;
}

img.adsImage2 {
  width: 100%;
}

.moreArticle {
  margin-left: 5%;
}

h2.readmore {
  width: 100%;
  text-align: center;
}

img.moreImage {
  width: 100%;
}

figure.more {
  margin: 0;
}

div.readMore {
  width: 100%;
  border-top: solid 1px;
  margin-top: 2rem;
}

figure.articleImage {
  width: 100%;
  margin: 0;
}

img.rprize1Image {
  width: 100%;
}

img.prize1Image {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

figure.otherdesign {
  width: 100%;
  margin: 0;
}

img.designImage {
  width: 100%;
}

.title {
  width: 75%;
}

h3.readmore2 {
  margin-top: 1rem;
}

p.readmore2 {
  margin-bottom: 1rem;
}

h3.article-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3%;
}

p.article-1 {
  width: 90%;
  margin: 1rem 1.5rem;
}
h3.article-2 {
  margin-top: 3rem;
  margin-bottom: 3rem;

}

p.article-2 {
  width: 94%;
  margin: 1.5rem 3%;
}
p.article2 {
  width: 100%;
  margin: 1rem 0;
}

div.article2_g {
  background-color: #F2F3F4;
}

.otherdesign {
  width: 100%;
  display: inline-block;
}

.header {}

.logo {
  width: 30%;
  display: inline-block;
  margin-right: 10%;
}

.logoFigure {
  width: 100%;
}

.logoImage {
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

input.cvvtext {
  margin: 0;
  width: 80%;
}

select {
  width: 100%;
  /* padding: 0 5rem; */
}

head, body {
  font-family: 'Raleway', sans-serif;
  margin: 0;

}

html, body {
  height: 100%;
  /* margin: 0; */
}


input[type=radio] {
  width: 30%;
}

footer {
  /*  position: absolute;*/
  width: 100%;
  background-color: #616161;
  /* padding: 60px, 0px; */
  /* margin-top: 50px; */
  /* negative value of footer height */
  height: 180px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /* position:absolute; */
  /* margin-bottom: 180px; */
  clear: both;
}

.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.wrapper a:hover, .wrapper a:focus {
  text-decoration: none;
  color: #90CAF9;
}

.wrapper {
  padding-top: 40px;
}

.wrapper a {
  color: #808080;
  text-decoration: none;
  text-align: left;
  margin: 10px 0;
  /* background-color: white; */
}

.footer li {
  margin: 5px 0;
}

footer p {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 0.75em;
}

.footer a {
  position: relative;
  margin-bottom: 5px;
}

.footerMid {
  text-align: center;
}

.footerRight {
  text-align: center;
}

.leftSide {
  display: inline-block;
  width: 33%;
}

.middleSide {
  display: inline-block;
  width: 33%;
}

.rightSide {
  display: inline-block;
  width: 33%;
}

footer input[type=text] {
  display: inline;
  margin-bottom: 20px;
  width: 180px;
}

.showcase {
  display: inline-block;
}
.articlepage {
  display: inline-block;
}
div.articlepage{
  width: 94%;
  margin: 0 3%;
}

div.showcase {
  width: 94%;
  margin: 0 3%;
}

/*font style*/

head, body {
  font-family: 'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

/*//resource from styleguide sample*/

section:not([id]) {
  /* margin: 1rem 0;
  padding: 0.5rem 0; */
  /* border-top: 0.15rem solid #333; */
}

/*button style*/

.button-nav {
  background-color: white;
  color: black;
  border: 0.1rem solid #90CAF9;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 800;
  /* background-color: #90CAF9; */

}

.button-nav:hover, .button-nav:focus {
  border: 0.1rem solid #474954;
  /* background-color: #474954; */
  color: #90CAF9;
  /* background: linear-gradient(to right, #90CAF9 , #2196F3); */
  /* color: white; */
}

div.sub{
  width: 90%;
  display: inline-block;
  margin: 0 5%;
}

.intext-link {
  color: #CCD1D1;
  text-decoration: none;
  background-color: white;
}

.intext-link:hover, .intext-link:focus {
  text-decoration: underline;
  color: #90CAF9;
}

/*//resource from W3school example*/

.submitButton, .subscribeButton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
  margin: 0 auto;
}

.submitButton:hover, .submitButton:focus {
  border: 0.1rem solid #F3A086;
}

.subscribeButton:hover, .subscribeButton:focus {
  border: 2px solid #F3A086;
}

/*//resource from W3school example*/

input[type=text] {
  margin: 1rem;
  margin-left: 0rem;
  display: block;
  border: 0.1rem solid #616161;
  width: 100%;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 0.1rem solid #b3e5fc;
}

h1.headingStyle {
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}

h1.pageheader {
  margin: 1em auto;
  position: relative;
  display: block;
  text-align: center;
  font-weight: normal;
}

p.links {
  color: red;
}

a.links {
  color: red;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}

a.links:hover {
  text-decoration: underline;
}

h2.headingStyle {
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Add a black background color to the top navigation */

.navBar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.navBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */

.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.navBar .icon {
  display: none;
}

/* style navigation bar  */

ul.nav1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: 0.1rem solid #616161;
}

li.nav1 {
  float: right;
}

li.nav1, a.navAnchor {
  display: block;
  text-align: center;
  padding-top: 1rem;
  width: 100px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
}

li.navLogo {
  float: left;
}

li.navLogo, a.navLogo {
  /* width: 40%; */
  display: inline;
  padding: 0 0;
  text-decoration: none;
}

img.nav1 {
  width: 100px;
  display: inline;
  margin-top: 10px;
}

a.navAnchor {
  color: #616161;
  text-decoration: none;
  background-color: white;
  margin-bottom: 5px;
}

a.navAnchor:hover, a.navAnchor:focus {
  text-decoration: none;
  color: #90CAF9;
}

/* TESTING */

/* navigation bar end */

h3.headingStyle {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}

.paragraphStyle {
  font-size: 1rem;
  font-weight: normal;
}

.bullList {
  list-style-type: circle;
  padding-left: 3rem;
}

.numList {
  padding-left: 3rem;
}

/* Carousel container */

section.mainCarousel {
  /* max-width: 1000px; */
  position: relative;
  margin: 0 auto;
}

/* either fix img size, or change images */

.carouselImgSize {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Image hidden by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Caption text */

.text {
  color: #333;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  /* width: 100%; */
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  /* z-index: -10; */
  background-color: #90CAF9;
}

/* image heading text and box */

.numbertext {
  color: #90CAF9;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 12px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  /* z-index: 5; */
}

.active, .dot:hover {
  background-color: #90CAF9;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* styling the article containers on home page*/

.spacerOutside {
  /* width: 20%; */
}

.spacerInside {
  /* margin-top: 30px;
  width: auto;
  float: center; */
  display: flex;
  /* margin-left: 15%;
  margin-right: 15%; */
  margin: 5% 15%;
  border-bottom: solid 2px #ccc;
}

.articles h2 {
  text-align: center;
}


.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* border: solid 1px red; */
  /* width: auto; */
  flex-wrap: wrap;
  /* margin: auto; */
}

.article-container a {
  text-decoration: none;
  color: black;
}

.articleListing {
  display: flex;
  /* border: 1px solid pink; */
}

.articleRow {
  display: initial;
  width: 400px;
  flex-direction: row;
  /* margin-left: auto; */
}

.articleRow.first {
  margin-left: auto;
}

.otherListings {
  display: flex;
  flex: initial;
  /* width: 300px; */
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 0 auto 0 0;
}

.article {
  /* display: flex; */
  /* width: 200px; */
  padding: 0.5em;
  /* border: 0.1em solid #000; */
  /* border: 0.1em solid #90CAF9; */
  border: 0.1em solid #BBDEFB;
  flex-direction: row;
  /* position: relative; */
  margin: 5px;
  min-height: 500px;
  background: #fff;
}

/* .article h3 {
  text-align: center;
} */

.article li {
  margin: 1rem;
  list-style-type: none;
}

.article ul {
  padding: 0;
}

.cardDate{
  width: 80%;
/*  display: inline-block;*/
  text-align: left;
}

#city{
  width: 80%;
  display: block;
}
/* size of image inside cards */

.center-cropped {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */

.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.article:hover, .article:focus {
  text-decoration: none;
  /* border: 0.1rem solid #F3A086; */
  background-color: #DCDCDC;
}

/* .article.eventBox:hover {
  background-color: white;
} */

.article h3 {
  /* text-align: center; */
  margin-bottom: 0;
}

.article p {
  /* width: 200px; */
  /* overflow: hidden;
  white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.articleAuthor {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
}

h3.articleTitle {
  text-align: left;
}

h3.otherTitle {
  text-align: center;
}

.subscriptionBox img {
  margin: auto;
  margin-top: auto;
  display: block;
  max-width: 15em;
}

.article.subscriptionBox, .article.eventBox {
  /* min-height: 200px; */
  margin-bottom: 0;
}

.article.subscriptionBox:hover, .article.eventBox:hover, .article.subscriptionBox:focus, .article.eventBox:focus {
  background-color: white;
}

.otherListings .article {
  border: 0.1em solid #DCDCDC;
}

.otherListings .button-nav {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home page responsive layout */

@media (max-width:1120px) {
  .articleRow.first {
    margin-left: auto;
    margin-right: auto;
  }
  .articleRow.second {
    margin-left: auto;
    margin-right: auto;
  }
  .otherListings {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  .article.subscriptionBox, .article.eventBox {
    min-width: 16rem;
  }
}

@media (max-width:700px) {
  .otherListings {
    flex-direction: column;
  }
}

/* navigaton bar responsive layout
used as reference: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

.icon {
  display: none;
}

@media (max-width:530px) {
  .navBar.responsive {
    position: relative;
    border: solid 1px black;
    border: 1px solid black;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* FOOOTER */

footer {
  /*  position: absolute;*/
  width: 100%;
  background-color: #616161;
  /* padding: 60px, 0px; */
  margin-top: 30px;
  /* negative value of footer height */
  height: 180px;
  /* clear: both; */
  left: 0;
  bottom: 0;
  overflow: hidden;
}

input[type=text] {
  width: 80%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

input.cvvtext {
  margin: 0;
  width: 80%;
}

input.cvvtext {
  width: 90%;
}

select {
  border-radius:4px;
  width: 80%;
  margin-top: 0.5rem;
  height: 2.2rem;
  text-align: center;
  position: relative;
}

#subscription {
  width: 100%;
  display: block;
}

#cvv1 {
  margin-right: 4%;
}

#subscriptionheader {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 3%;
}

#subscriptionButton {
  margin: 2rem 40%;
  text-align: center;
  display: block;
  width: 20%;
  height: 3rem;
  float: left;
}

.SubForm form {}

}


ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.wrapper a:hover, .wrapper a:focus {
  text-decoration: none;
  color: #90CAF9;
}

.wrapper {
  padding-top: 40px;
}

.wrapper a {
  color: #C0C0C0;
  text-decoration: none;
  text-align: left;
  margin: 10px 0;
  /* background-color: white; */
}

.footer li {
  margin: 5px 0;
}

.footer a {
  position: relative;
  margin-bottom: 5px;
}

.footerMid {
  text-align: center;
}

.footerRight {
  text-align: center;
}

.leftSide {
  display: inline-block;
  width: 33%;
}

.middleSide {
  display: inline-block;
  width: 33%;
}

.rightSide {
  display: inline-block;
  width: 33%;
}

footer input[type=text] {
  display: inline;
  margin-bottom: 20px;
  width: 30%;
}

.fa {
  padding: 0 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

footer p {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 0.75em;
}

.fa.hiddenIcon {
  display: none;
}

@media (max-width:910px) {
  .fa {
    width: 0;
  }
  .footer form {
    display: none;
  }
  .fa.hiddenIcon {
    display: inline-block;
  }
  .leftSide, .middleSide {
    width: 49%;
  }
  .rightSide {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* end of footer section here  */

/* Subscribe Overview Page */

.purchase {
  display: inline-block;
}

.greySpan {
  background-color: #DCDCDC;
  height: 350px;
  padding: 20px;
}

.greySpan img {
  float: left;
}

.greySpan p {
  max-width: 1200px;
}

.subPage {
  color: #90CAF9;
}

.flex-grid {
  display: flex;
  text-align: center;
  margin: 5rem 0 5rem 0;
}

.flex-grid h2 {
  text-align: center;
}

.col {
  flex: 1;
  margin: 10px;
  height: 200px;
  padding: 5rem 0 5rem 0;
}

.col:nth-of-type(2), .col:nth-of-type(3), .col:nth-of-type(4) {
  padding: 0.5em;
  border: 0.1em solid #DCDCDC;
  /* flex-direction: row; */
  /* position: relative; */
  margin: 5px;
  min-height: 20rem;
  background: #fff;
}

.col p {
  line-height: 1.5rem;
  text-align: center;
}

.col-second {
  background-color: red;
}

@media (max-width:1182px) {
  .col:nth-of-type(1), .col:nth-of-type(5) {
    display: none;
  }
}

@media (max-width:760px) {
  .flex-grid {
    flex-direction: column;
  }
  .greySpan {
    height: auto;
  }
  .greySpan img {
    width: 50%;
    display: block;
    float: none;
  }
}

.content {
  min-height: 90vh;
}


/* other */
#province {
  /* width: 15%; */
}

@media screen and (max-width: 580px){
  li.navLogo{
    width: 100%;
    text-align: center;
  }

  li.nav1{
    padding-top: 0;
    width: 25%;
  }



}



/* end of subscribe overview page here */

/* Subscribe overView editing for responsive */

/* end of subscribe overvire editingf for resposnvie */
