.grid-row-nav{
	width:50%;

	opacity: 0.85;
	display: inline-block;

}

.nav-{
	width: 100%;
	background-color: white;

}


li.nav1 {
  float: right;
}


img.nav1 {
  width: 100px;
  display: inline;
}

li.nav2 {
  float: left;
}

li.nav2, a.nav2 {
  width: 40%;
  display: inline;
  padding: 0 0;
  text-decoration: none;
}
a.nav1 {
  color: #616161;
  text-decoration: none;
  background-color: white;
}

a.nav1:hover, a.nav1:focus {
  text-decoration: none;
  color: #90CAF9;
}
/*//resources from W3school navigation button*/

li.nav1, a.nav1 {
  display: block;
  text-align: center;
  padding-top: 1rem;
  width: 100px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
}

#subscription{
	width:100%;
	display: block;
}

#subscriptionheader{
	margin-left: 5%;
	margin-bottom: 2%;

	margin-top: 3%;
}

#subscriptionButton{
	margin-left: 40%;
		margin-right: : 40%;
		margin-top: 30rem;

	text-align: center;
	display: block;

	width: 20%;
	height: 3rem;
}
.articleList{
	margin-top:5rem;
}

a.articleList2{
	text-decoration: none;
	color: black;
}

a.articleList2:hover{
	text-decoration: underline;
}

.articleList2{
	display: inline-block;
	margin-bottom: 2rem;

}
#shareSpace{
	width: 20%;
	height: 3rem;
	text-align: center;;
	display: block;
	margin-left: 50%;
	margin-top: 3rem;

}
h2{
	text-align: left;
}
h3{
	text-align: left;
	font-weight: thin;
}
p{
	text-align: left;
}
.title{
	margin-top: 5rem;
}
.title1{
	text-align: center;
}

figure.ads{
	margin-bottom: 3rem;
}
img.adsImage{
	width:80%;
}

.moreArticle{
	margin-left: 5%;
}
h2.readmore{
	width: 100%;
	text-align: center;
}

img.moreImage{
	width: 100%;
}



figure.more{
	margin:0;
}

div.readMore{
	width: 100%;

	margin-top: 85rem;
}

figure.prize1{
	width:100%;
}

img.prize1Image{
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
}
figure.otherdesign{
	width: 90%;
	margin-left: 20%;
}
img.designImage{
	width:100%;


}
.title{
	width: 80%;
}
h3.article{
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 10%;
}
p.article{
	width:90%;
	margin-left: 10%;
}
p.article2{
	width:90%;
	margin-left: 20%;
}
.otherdesign{
	width: 100%;
}
.header{

}
.logo{
	width:30%;
	display: inline-block;
	margin-right: 10%;
}

.logoFigure{
	width:100%;
}
.logoImage{
	width: 100%;
}

a.button-nav{
	font-family: 'Raleway', sans-serif;
	color:black;
	text-decoration: none;
	font-weight: 800;
}

a.button-nav:hover{
	text-decoration: underline;
/*	color:white;*/
}



input[type=text]{
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

input.cvvtext{
	margin: 0;
	width:80%;
}

select{
	width:100%;
	padding:0,5rem;
}


head,body{
		font-family: 'Raleway', sans-serif;
		margin: 0;
}

input[type=radio]{
	width:30%;
}

footer {
/*  position: absolute;*/
  width: 100%;
  background-color: #616161;
  /* padding: 60px, 0px; */
  margin-top: 50px;
  /* negative value of footer height */
  height: 180px;
  /* clear: both; */

    left: 0;
    bottom: 0;
    overflow:hidden;

}



ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.wrapper a:hover, .wrapper a:focus {
  text-decoration: none;
  color: #90CAF9;
}

.wrapper {
  padding-top: 40px;
}
.wrapper a {
  color: #808080;
  text-decoration: none;
  text-align: left;
  margin: 10px 0;

  /* background-color: white; */
}

.footer li {
  margin: 5px 0;
}
footer p {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 0.75em;
}


.footer a {
  position: relative;
  margin-bottom: 5px;
}

.footerMid {
  text-align: center;
}

.footerRight {
  text-align: center;
}

.leftSide {
  display: inline-block;
  width: 33%;
}

.middleSide {
  display: inline-block;
  width: 33%;
}

.rightSide {
  display: inline-block;
  width: 33%;
}

footer input[type=text] {
  display: inline;
  margin-bottom: 20px;
	width: 180px;


}


.nav- {
	/*
		Setting position to fixed means that our navigation
		will not move when we scroll the page. Also, because
		we are positioning something fixed, the other elements
		on the page ignore it when they are flowed
	*/
	position: fixed;


	/*	We can only specify distance from top, right, bottom or
		left when we have specified a positioning type other than
		static (the default value)*/

	top: 0;

	font-family: 'Raleway', sans-serif;

	/*
		Setting a z-index property changes the layering of items
		that also have a positioning set. In this example, setting
		the z-index to 100 means that our navigation will be layered
		above anything up to layer 99.
	*/
	z-index: 100;
}

select,
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
menu,
section,
summary {
  display: block;
}
